.not-chosen {
  color: #f44336;
  margin-top: 20px;
}
.cities-name {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.change-cities {
  margin-bottom: 10px;
  text-align: center;
}
.fa-right-left {
  margin-bottom: 0 !important;
  border: 1px solid #0d6efd;
  width: 50px;
  height: 20px;
  line-height: 19px;
  border-radius: 5px;
}
.fa-right-left:hover {
  background-color: #0d6efd;
  color: white !important;
}
